<?xml version="1.0" encoding="UTF-8"?>
<checkstyle version="5.5">
<file name="/home/alex/Рабочий стол/Учеба/jlibiada-misc/src/main/DiffBuildingAnalysis/DifCutter.java">
<error line="24" severity="error" message="Line is longer than 80 characters." source="com.puppycrawl.tools.checkstyle.checks.sizes.LineLengthCheck"/>
</file>
<file name="/home/alex/Рабочий стол/Учеба/jlibiada-misc/src/main/DiffBuildingAnalysis/Iterators/CutRuleIterator.java">
<error line="17" severity="error" message="Line is longer than 80 characters." source="com.puppycrawl.tools.checkstyle.checks.sizes.LineLengthCheck"/>
</file>
<file name="/home/alex/Рабочий стол/Учеба/jlibiada-misc/src/main/DiffBuildingAnalysis/Rules/CutRule.java">
<error line="15" column="34" severity="error" message="Variable &apos;starts&apos; must be private and have accessor methods." source="com.puppycrawl.tools.checkstyle.checks.design.VisibilityModifierCheck"/>
<error line="16" column="34" severity="error" message="Variable &apos;stops&apos; must be private and have accessor methods." source="com.puppycrawl.tools.checkstyle.checks.design.VisibilityModifierCheck"/>
</file>
<file name="/home/alex/Рабочий стол/Учеба/jlibiada-misc/src/main/DiffBuildingAnalysis/Rules/FromFixStartCutRule.java">
</file>
<file name="/home/alex/Рабочий стол/Учеба/jlibiada-misc/src/main/Root/IBaseObject.java">
<error line="14" column="14" severity="error" message="Name &apos;GetBin&apos; must match pattern &apos;^[a-z][a-zA-Z0-9]*$&apos;." source="com.puppycrawl.tools.checkstyle.checks.naming.MethodNameCheck"/>
</file>
<file name="/home/alex/Рабочий стол/Учеба/jlibiada-misc/src/main/Root/IBin.java">
<error line="11" column="17" severity="error" message="Name &apos;GetInstance&apos; must match pattern &apos;^[a-z][a-zA-Z0-9]*$&apos;." source="com.puppycrawl.tools.checkstyle.checks.naming.MethodNameCheck"/>
</file>
<file name="/home/alex/Рабочий стол/Учеба/jlibiada-misc/src/main/Root/SimpleTypes/ValueChar.java">
<error line="13" column="17" severity="error" message="Variable &apos;value&apos; must be private and have accessor methods." source="com.puppycrawl.tools.checkstyle.checks.design.VisibilityModifierCheck"/>
<error line="38" column="17" severity="error" message="Name &apos;GetBin&apos; must match pattern &apos;^[a-z][a-zA-Z0-9]*$&apos;." source="com.puppycrawl.tools.checkstyle.checks.naming.MethodNameCheck"/>
</file>
<file name="/home/alex/Рабочий стол/Учеба/jlibiada-misc/src/main/Root/SimpleTypes/ValueInt.java">
<error line="34" column="17" severity="error" message="Name &apos;GetBin&apos; must match pattern &apos;^[a-z][a-zA-Z0-9]*$&apos;." source="com.puppycrawl.tools.checkstyle.checks.naming.MethodNameCheck"/>
</file>
<file name="/home/alex/Рабочий стол/Учеба/jlibiada-misc/src/main/Root/SimpleTypes/ValueString.java">
<error line="37" column="17" severity="error" message="Name &apos;GetBin&apos; must match pattern &apos;^[a-z][a-zA-Z0-9]*$&apos;." source="com.puppycrawl.tools.checkstyle.checks.naming.MethodNameCheck"/>
</file>
<file name="/home/alex/Рабочий стол/Учеба/jlibiada-misc/src/main/Statistics/Generators/ConstanteGenerator.java">
</file>
<file name="/home/alex/Рабочий стол/Учеба/jlibiada-misc/src/main/Statistics/Generators/IGenerator.java">
<error line="10" column="5" severity="error" message="Redundant &apos;public&apos; modifier." source="com.puppycrawl.tools.checkstyle.checks.modifier.RedundantModifierCheck"/>
</file>
<file name="/home/alex/Рабочий стол/Учеба/jlibiada-misc/src/main/Statistics/Generators/MockGenerator.java">
<error line="11" severity="error" message="Line is longer than 80 characters." source="com.puppycrawl.tools.checkstyle.checks.sizes.LineLengthCheck"/>
<error line="11" column="32" severity="error" message="&apos;4&apos; is a magic number." source="com.puppycrawl.tools.checkstyle.checks.coding.MagicNumberCheck"/>
<error line="11" column="35" severity="error" message="&apos;12&apos; is a magic number." source="com.puppycrawl.tools.checkstyle.checks.coding.MagicNumberCheck"/>
<error line="11" column="39" severity="error" message="&apos;5&apos; is a magic number." source="com.puppycrawl.tools.checkstyle.checks.coding.MagicNumberCheck"/>
<error line="11" column="42" severity="error" message="&apos;8&apos; is a magic number." source="com.puppycrawl.tools.checkstyle.checks.coding.MagicNumberCheck"/>
<error line="11" column="45" severity="error" message="&apos;9&apos; is a magic number." source="com.puppycrawl.tools.checkstyle.checks.coding.MagicNumberCheck"/>
<error line="11" column="48" severity="error" message="&apos;4&apos; is a magic number." source="com.puppycrawl.tools.checkstyle.checks.coding.MagicNumberCheck"/>
<error line="11" column="51" severity="error" message="&apos;15&apos; is a magic number." source="com.puppycrawl.tools.checkstyle.checks.coding.MagicNumberCheck"/>
<error line="11" column="55" severity="error" message="&apos;17&apos; is a magic number." source="com.puppycrawl.tools.checkstyle.checks.coding.MagicNumberCheck"/>
<error line="11" column="62" severity="error" message="&apos;17&apos; is a magic number." source="com.puppycrawl.tools.checkstyle.checks.coding.MagicNumberCheck"/>
<error line="11" column="66" severity="error" message="&apos;4&apos; is a magic number." source="com.puppycrawl.tools.checkstyle.checks.coding.MagicNumberCheck"/>
<error line="11" column="69" severity="error" message="&apos;14&apos; is a magic number." source="com.puppycrawl.tools.checkstyle.checks.coding.MagicNumberCheck"/>
<error line="11" column="73" severity="error" message="&apos;16&apos; is a magic number." source="com.puppycrawl.tools.checkstyle.checks.coding.MagicNumberCheck"/>
<error line="11" column="77" severity="error" message="&apos;7&apos; is a magic number." source="com.puppycrawl.tools.checkstyle.checks.coding.MagicNumberCheck"/>
<error line="11" column="80" severity="error" message="&apos;9&apos; is a magic number." source="com.puppycrawl.tools.checkstyle.checks.coding.MagicNumberCheck"/>
<error line="11" column="83" severity="error" message="&apos;3&apos; is a magic number." source="com.puppycrawl.tools.checkstyle.checks.coding.MagicNumberCheck"/>
<error line="11" column="86" severity="error" message="&apos;3&apos; is a magic number." source="com.puppycrawl.tools.checkstyle.checks.coding.MagicNumberCheck"/>
<error line="11" column="89" severity="error" message="&apos;4&apos; is a magic number." source="com.puppycrawl.tools.checkstyle.checks.coding.MagicNumberCheck"/>
<error line="11" column="92" severity="error" message="&apos;5&apos; is a magic number." source="com.puppycrawl.tools.checkstyle.checks.coding.MagicNumberCheck"/>
<error line="11" column="95" severity="error" message="&apos;6&apos; is a magic number." source="com.puppycrawl.tools.checkstyle.checks.coding.MagicNumberCheck"/>
<error line="11" column="98" severity="error" message="&apos;7&apos; is a magic number." source="com.puppycrawl.tools.checkstyle.checks.coding.MagicNumberCheck"/>
<error line="11" column="101" severity="error" message="&apos;8&apos; is a magic number." source="com.puppycrawl.tools.checkstyle.checks.coding.MagicNumberCheck"/>
<error line="11" column="104" severity="error" message="&apos;14&apos; is a magic number." source="com.puppycrawl.tools.checkstyle.checks.coding.MagicNumberCheck"/>
<error line="11" column="108" severity="error" message="&apos;13&apos; is a magic number." source="com.puppycrawl.tools.checkstyle.checks.coding.MagicNumberCheck"/>
<error line="11" column="112" severity="error" message="&apos;4&apos; is a magic number." source="com.puppycrawl.tools.checkstyle.checks.coding.MagicNumberCheck"/>
<error line="11" column="115" severity="error" message="&apos;7&apos; is a magic number." source="com.puppycrawl.tools.checkstyle.checks.coding.MagicNumberCheck"/>
<error line="11" column="118" severity="error" message="&apos;6&apos; is a magic number." source="com.puppycrawl.tools.checkstyle.checks.coding.MagicNumberCheck"/>
</file>
<file name="/home/alex/Рабочий стол/Учеба/jlibiada-misc/src/main/Statistics/Generators/SimpleGenerator.java">
</file>
<file name="/home/alex/Рабочий стол/Учеба/jlibiada-misc/src/main/Statistics/Picks/CalculatorFactory.java">
<error line="3" severity="error" message="Line is longer than 80 characters." source="com.puppycrawl.tools.checkstyle.checks.sizes.LineLengthCheck"/>
<error line="4" severity="error" message="Line is longer than 80 characters." source="com.puppycrawl.tools.checkstyle.checks.sizes.LineLengthCheck"/>
<error line="5" severity="error" message="Line is longer than 80 characters." source="com.puppycrawl.tools.checkstyle.checks.sizes.LineLengthCheck"/>
<error line="41" severity="error" message="Line is longer than 80 characters." source="com.puppycrawl.tools.checkstyle.checks.sizes.LineLengthCheck"/>
<error line="45" severity="error" message="Line is longer than 80 characters." source="com.puppycrawl.tools.checkstyle.checks.sizes.LineLengthCheck"/>
<error line="49" severity="error" message="Line is longer than 80 characters." source="com.puppycrawl.tools.checkstyle.checks.sizes.LineLengthCheck"/>
<error line="57" severity="error" message="Line is longer than 80 characters." source="com.puppycrawl.tools.checkstyle.checks.sizes.LineLengthCheck"/>
</file>
<file name="/home/alex/Рабочий стол/Учеба/jlibiada-misc/src/main/Statistics/Picks/Calculators/PatternRecognition/BetweenPatternDistance.java">
</file>
<file name="/home/alex/Рабочий стол/Учеба/jlibiada-misc/src/main/Statistics/Picks/Calculators/PatternRecognition/ImageCompactDistance.java">
<error line="25" severity="error" message="Line is longer than 80 characters." source="com.puppycrawl.tools.checkstyle.checks.sizes.LineLengthCheck"/>
<error line="25" column="16" severity="error" message="Name &apos;Wij&apos; must match pattern &apos;^[a-z][a-zA-Z0-9]*$&apos;." source="com.puppycrawl.tools.checkstyle.checks.naming.LocalVariableNameCheck"/>
<error line="26" severity="error" message="Line is longer than 80 characters." source="com.puppycrawl.tools.checkstyle.checks.sizes.LineLengthCheck"/>
<error line="26" column="16" severity="error" message="Name &apos;Wi&apos; must match pattern &apos;^[a-z][a-zA-Z0-9]*$&apos;." source="com.puppycrawl.tools.checkstyle.checks.naming.LocalVariableNameCheck"/>
<error line="27" severity="error" message="Line is longer than 80 characters." source="com.puppycrawl.tools.checkstyle.checks.sizes.LineLengthCheck"/>
<error line="27" column="16" severity="error" message="Name &apos;Wj&apos; must match pattern &apos;^[a-z][a-zA-Z0-9]*$&apos;." source="com.puppycrawl.tools.checkstyle.checks.naming.LocalVariableNameCheck"/>
</file>
<file name="/home/alex/Рабочий стол/Учеба/jlibiada-misc/src/main/Statistics/Picks/Calculators/PatternRecognition/InterPatternDistance.java">
</file>
<file name="/home/alex/Рабочий стол/Учеба/jlibiada-misc/src/main/Statistics/Picks/Calculators/PicksCalculator/IPicksCalculator.java">
<error line="12" column="5" severity="error" message="Redundant &apos;public&apos; modifier." source="com.puppycrawl.tools.checkstyle.checks.modifier.RedundantModifierCheck"/>
</file>
<file name="/home/alex/Рабочий стол/Учеба/jlibiada-misc/src/main/Statistics/Picks/Calculators/PicksCalculator/SamplingCalculator.java">
</file>
<file name="/home/alex/Рабочий стол/Учеба/jlibiada-misc/src/main/Statistics/Picks/Calculators/ValueCalculator/Corelation.java">
<error line="26" severity="error" message="Line is longer than 80 characters." source="com.puppycrawl.tools.checkstyle.checks.sizes.LineLengthCheck"/>
<error line="27" severity="error" message="Line is longer than 80 characters." source="com.puppycrawl.tools.checkstyle.checks.sizes.LineLengthCheck"/>
<error line="28" severity="error" message="Line is longer than 80 characters." source="com.puppycrawl.tools.checkstyle.checks.sizes.LineLengthCheck"/>
</file>
<file name="/home/alex/Рабочий стол/Учеба/jlibiada-misc/src/main/Statistics/Picks/Calculators/ValueCalculator/Covariation.java">
</file>
<file name="/home/alex/Рабочий стол/Учеба/jlibiada-misc/src/main/Statistics/Picks/Calculators/ValueCalculator/ExpectationCalculator.java">
</file>
<file name="/home/alex/Рабочий стол/Учеба/jlibiada-misc/src/main/Statistics/Picks/Calculators/ValueCalculator/IValueCalculator.java">
<error line="13" column="5" severity="error" message="Redundant &apos;public&apos; modifier." source="com.puppycrawl.tools.checkstyle.checks.modifier.RedundantModifierCheck"/>
</file>
<file name="/home/alex/Рабочий стол/Учеба/jlibiada-misc/src/main/Statistics/Picks/Calculators/ValueCalculator/MaxCalculator.java">
</file>
<file name="/home/alex/Рабочий стол/Учеба/jlibiada-misc/src/main/Statistics/Picks/Calculators/ValueCalculator/MinCalculator.java">
</file>
<file name="/home/alex/Рабочий стол/Учеба/jlibiada-misc/src/main/Statistics/Picks/Calculators/ValueCalculator/StandardDeviation.java">
</file>
<file name="/home/alex/Рабочий стол/Учеба/jlibiada-misc/src/main/Statistics/Picks/Calculators/ValueCalculator/VarianceCalculator.java">
</file>
<file name="/home/alex/Рабочий стол/Учеба/jlibiada-misc/src/main/Statistics/Picks/Picks.java">
<error line="64" severity="error" message="Line is longer than 80 characters." source="com.puppycrawl.tools.checkstyle.checks.sizes.LineLengthCheck"/>
</file>
<file name="/home/alex/Рабочий стол/Учеба/jlibiada-misc/src/main/TheoryOfSet/Alphabet.java">
<error line="14" column="38" severity="error" message="Variable &apos;vault&apos; must be private and have accessor methods." source="com.puppycrawl.tools.checkstyle.checks.design.VisibilityModifierCheck"/>
</file>
</checkstyle>
